@import '../../fonts.scss';

:root {
	--cube-size: 300px;
	--side-size: calc(var(--cube-size) / 2);
	--perspective: calc(var(--cube-size) * 4);
	--red-color: #f51b1bcb;
	--gray-color: #e4e4e4bd;
}

.home-page-main {
	max-width: 1400px;
	margin: 0 auto;
}

.home-page-wapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 160px 0;
}

@media screen and (max-width: 930px) {
	.home-page-wapper {
		flex-direction: column;
		margin: 0 auto;
	}
}

.home-page-title {
	font-size: 140px;
	display: flex;
	flex-direction: column;
	p {
		margin: 0;
	}
	.event {
		color: #f51b1b;
		margin: 0;
	}

}

@media screen and (max-width: 930px) {
	.home-page-title {
		text-align: center;
		font-size: 110px;
	}
	
	.home-page-wapper {
		padding: 70px 0;
	}
}

@media screen and (max-width: 530px) {
	.home-page-title {
		font-size: 100px;
		text-align: center;
	}
}

@media screen and (max-width: 430px) {
	.home-page-title {
		font-size: 80px;
		text-align: center;
	}
}

@media screen and (max-width: 350px) {
	.home-page-title {
		font-size: 70px;
		text-align: center;
	}
}

.container {
	position: relative;
	perspective: var(--perspective);
}

.cube {
	position: relative;
	width: var(--cube-size);
	height: var(--cube-size);
	transform-style: preserve-3d;
	animation: cube-rotation 40s linear infinite;
}

.side {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 2px;
	width: var(--cube-size);
	height: var(--cube-size);
	perspective: var(--perspective);
	overflow: hidden;
}

.front {
	transform: rotateY(0deg) translateZ(var(--side-size));
}
.back {
	transform: rotateY(180deg) translateZ(var(--side-size));
}
.right {
	transform: rotateY(90deg) translateZ(var(--side-size));
}
.left {
	transform: rotateY(-90deg) translateZ(var(--side-size));
}
.top {
	transform: rotateX(90deg) translateZ(var(--side-size));
}
.bottom {
	transform: rotateX(-90deg) translateZ(var(--side-size));
}

.front .tile {
	background: var(--red-color);
	border: 1px black solid;
	border-radius: 5px;
}

.back .tile {
	background: var(--red-color);
	border: 1px black solid;
	border-radius: 5px;
}

.right .tile {
	background: #000000c0;
	border: 1px var(--gray-color) solid;
	border-radius: 5px;
}

.left .tile {
	background: #000000bc;
	border: 1px var(--gray-color) solid;
	border-radius: 5px;
}

.top .tile {
	background: var(--gray-color);
	border: 1px var(--red-color) solid;
	border-radius: 5px;
}

.bottom .tile {
	background: var(--gray-color);
	border: 1px var(--red-color) solid;
	border-radius: 5px;
}

@keyframes cube-rotation {
	to {
		transform: rotateX(360deg) rotateY(-360deg);
	}
}
