@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,800;8..144,900&display=swap');
.title-foo {
	font-size: 25px;
}

.foo {
	flex-direction: column;
}

.foo-link {
	flex-direction: row;
}

.icons-foo {
	margin-right: 0px;
}

.list-foo {
	padding-inline-start: 5px;
}